### VS Code ###
.vscode/
*.code-workspace

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### LaTeX ###
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb